apiBaseURL='https://api.example.com'
searchEngineUrl='https://duckduckgo.com/'
# ⬇️ just for example purposes (don't store locators in config on a real project❗️) ⬇️
searchEngineQuerySelector='[name="q"]'
searchEngineResultSelector='[data-testid="result"]'
searchEngineResultHeaderSelector='[data-testid="result-title-a"]'
searchEngineResultLinkSelector='[data-testid="result-title-a"]'
# ⬇️ reporting ⬇️
slackOAuthToken=''
channelsString='tmp-test'
